<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width-device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}Blog Pixel Panda</title>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

    </head>
    <body>
        
        {% block nav %}{% include ('::nav.html.twig') %}{% endblock %}
        <div class="container">
            <section class="main-col col-md-8">
                {% block body %}{% endblock %}
            </section>
            <aside class="sidebar col-md-4">
                {% block sidebar %}{% endblock %}
            </aside>

            <div id="footer">
                {% block footer %}
                    
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
        <script src="//code.jquery.com/jquery.min.js" type="text/javascript"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
    </body>
</html>
