{# src/Blogger/BlogBundle/Resources/views/Page/contact.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact</h1>
    </header>

    {% for flashMessage in app.session.flashbag.get('blogger-notice') %}
    <div class="blogger-notice">   
        {{ flashMessage }}
       
    </div>
    {% endfor %}

    <p>Une idée, envoyez nous un message !</p>

    <form action="{{ path('BloggerBlogBundle_contact') }}" method="post" {{ form_enctype(form) }} class="blogger">

        {{ form_errors(form) }}

        {{ form_row(form.name, {'attr': {'class': 'form-control'}} ) }}
        {{ form_row(form.email, {'attr': {'class': 'form-control'}} )  }}
        {{ form_row(form.subject, {'attr': {'class': 'form-control'}} )  }}
        {{ form_row(form.body, {'attr': {'class': 'form-control'}} )  }}

        {{ form_rest(form) }}
        <br/>
        <input type="submit" value="Envoyer" class="form-control" />

    </form>
{% endblock %}